/*@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
*/

/* Global reset */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Use the retro pixel font everywhere */
* {
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
}

/* Full-screen glowing green terminal style */
#appPage {
    padding: 1rem;
    background: black;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #54FE55;
    text-shadow: 0px 0px 10px #54FE55;
    font-size: 6rem;
    flex-direction: column;
}

    /* Smaller text inside the page */
    #appPage .txt {
        font-size: 1.8rem;
    }

/* Blinking effect */
@keyframes blink {
    0%, 49% {
        opacity: 0;
    }

    50%, 100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 1s infinite;
}
