@* Loading.razor *@

@if (IsVisible)
{
    <div class="loading-overlay fade-in">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="loading-text">Loading, please wait...</p>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; } = false;
}
