@* Loading.razor *@

@if (IsVisible)
{
    <div class="loading-overlay fade-in">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="loading-text">@DisplayMessage</p>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; } = false;
    [Parameter]
    public string DisplayMessage { get; set; } = "Loading, please wait...";
}
